@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is based on the different type of products which are not available in one store.</p>
<p>People can by or get knowledge of price and Sell that product on this</p>
