@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Georgian College<br />
    1 Georgian Dr,<br /> 
    Barrie, ON L4M 3X9<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nowhere.com">KevalPatel.georgianc.on.ca </a> &amp; <a href="mailto:nowhere.com">Kengo@georgiancollege.ca </a><br />
    <strong>Marketing:</strong>  <a href="mailto:nowhere.com">Ujjwal.georgianc.on.ca </a> &amp; <a href="mailto:nowhere.com">Megha@georgiancollege.ca </a>
</address>